@font-face {
  font-family: baloo;
  src: url('./assets/Baloo2-ExtraBold.ttf');
}

@font-face {
  font-family: oswald;
  src: url('./assets/Oswald-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: oswald;
  display: grid;
  grid:
    "header"   80px
    "search"   90px
    "current"  4fr
    "forecast" 4fr   
    /      1fr;
  color: orange;
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#header {
  font-size: 5rem;
  font-family: baloo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  grid-area: header;
}

#input {
  appearance: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: search;
  height: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 10px 10px;
  text-align: center;
}

#submit {
  font-family: inherit;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  max-width: 200px;
  background-color: black;
  border-radius: 10px 10px;
  display: block;
}

#current {
  grid-area: current;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  font-size: 1.4rem;
  color: white;
  background-color: black;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

#name {
  color: orange;
  padding: 0px;
  font-weight: 900;
}

#description {
  font-weight: 700;
}

.current-data {
  color: white;
  padding-left: 40px;
}

#forecast {
  display: flex;
  grid-area: forecast;
  justify-content: center;
}

#forecast-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 95%;
  height: 100%;
  max-height: 250px;

}

.period {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 1.1rem;
  color: black;
  background-color: white;
  width: 175px;
  height: 210px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, .8);
}

#f-time {
  font-size: 1.4rem;
  color: orange;
  font-weight: 900;
}

#f-description {
  font-weight: 700;
}

#f-high {
  color: rgb(223, 42, 42);
}

#f-low {
  color: rgb(55, 55, 222);
}
