@font-face {
  font-family: baloo;
  src: url('./assets/Baloo2-ExtraBold.ttf');
}

@font-face {
  font-family: oswald;
  src: url('./assets/Oswald-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: oswald;
  display: grid;
  grid:
    "header"   75px
    "search"   75px
    "current"  .9fr
    "forecast" 1fr   
    /      1fr;
  color: orange;
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#header {
  font-size: 4.7rem;
  font-family: baloo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  grid-area: header;
}

#input {
  appearance: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: search;
  height: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 10px 10px;
  text-align: center;
}

#submit {
  font-family: inherit;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  max-width: 200px;
  background-color: black;
  border-radius: 10px 10px;
  display: block;
}

/* Celsius / Fahrenheit switch */
#switch-box {
  grid-area: header;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px 4px 20px 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#current {
  grid-area: current;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current img {
  height: 150%;
}

#current-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  font-size: 1.4rem;
  color: white;
  background-color: black;
  padding: 15px;
  margin: 0;
  border-radius: 10px;
}

#name {
  color: orange;
  padding: 0px;
  font-weight: 900;
}

#description {
  font-weight: 700;
}

.current-data {
  color: white;
  padding-left: 40px;
}

#forecast {
  display: flex;
  grid-area: forecast;
  justify-content: center;
}

#forecast-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 95%;
  height: 100%;
  max-height: 200px;

}

.period {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 1.1rem;
  color: black;
  background-color: white;
  background-size: cover;
  width: 165px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, .8);
  overflow: hidden;
}

#f-time {
  font-size: 1.4rem;
  color: orange;
  font-weight: 900;
  justify-self: start;
}

#f-description {
  font-weight: 700;
}

#f-temp {
  margin-top: auto;
}