@font-face {
  font-family: baloo;
  src: url('./assets/Baloo2-ExtraBold.ttf');
}

@font-face {
  font-family: oswald;
  src: url('./assets/Oswald-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: oswald;
  display: grid;
  grid:
    "header   header"   1fr
    "search   search"   1fr
    "current  current"  4fr
    "forecast forecast" 4fr   
    /      1fr;
  color: orange;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#header {
  font-size: 5rem;
  font-family: baloo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  grid-area: header;
  min-height: 0;
}
#input {
  appearance: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: search;
}

#form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

#location {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 10px 10px;
  text-align: center;
}

#submit {
  font-family: inherit;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  max-width: 200px;
  background-color: black;
  border-radius: 10px 10px;
  display: block;
}

#current {
  grid-area: current;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, .8);
  transition: .7s;
}

.fade {
  opacity: 0;

}

#name {
  color: orange;
  padding: 0px;
  font-weight: 900;
}

.current-data {
  color: black;
  padding-left: 40px;
}

#forecast {
  display: flex;
  grid-area: forecast;
  justify-content: center;
}

#forecast-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 95%;
  height: 100%;
  max-height: 250px;

}

.period {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  width: 220px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, .8);
}

.name {
  font-size: 1.6rem;
  color: orange;
  font-weight: 900;
}

.wind {
  font-size: 1.2rem;
}

.forecast {
  font-size: 1rem;
}
